body ´{
    background-color: #F5F4F0;
    font-family: "Open Sans", sans-serif;
}

.headline {
    color: #E1624F;
}

.primary {
    color: #1B1B1B;
}

h1 {}

p {
    color: #333333;
}