/* main.css */
@import url(/style.css);

section {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.visivel {
    opacity: 1;
    max-height: 5000px;
}