/* media.css */
@import url(/style.css);

@media (max-width: 430px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    p,
    li {
        font-size: 12px;
    }

    .headline {
        font-size: 16px;
    }

    .subtitle {
        font-size: 8px;
    }

    a {
        font-size: 14px;
    }

    .links {
        padding: 10px 0;
    }
}

@media (min-width: 431px) and (max-width: 768px) {
    body {
        padding: 15px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p,
    li {
        font-size: 14px;
    }

    .headline {
        font-size: 18px;
    }

    .subtitle {
        font-size: 10px;
    }

    .links a {
        font-size: 15px;
    }
}